<div>
  <button class="btn btn-secondary" (click)="open('add')">Agregar Nuevo</button>
</div>

<layout-modal #layoutModal>
  <form>
    <div class="form-group">
      <label for="numero">Tipo de archivo</label>
      <select name="typeFile" id="typeFile" class="form-select">
        <option value="">Seleccione un tipo de archivo</option>
        <option value="IMPACS">Comisiones</option>
        <option value="CARTAS">Cartas</option>
      </select>
    </div>
    <div class="form-group">
      <label for="numero">Fecha</label>
      <div class="input-group">
        <input class="form-control" placeholder="dd/mm/yyyy" name="date" [(ngModel)]="dateInput" ngbDatepicker
          #d="ngbDatepicker" (click)="d.toggle()" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar btn-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      <div class="from-group">
        <label for="lastPeriod">Mes igual y/o menor a</label>
        <select name="lastPeriod" id="lastPeriod" class="form-select" [(ngModel)]="this.getData().mesVencimiento">
          <option *ngFor="let item of lastPeriod" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
  </form>
</layout-modal>