<layout-modal #layoutModal>
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
        <thead class="panel-heading">
          <tr>
            <th>Cuenta</th>
            <th>Vencimiento</th>
            <th>Nombre</th>
            <th>Limite</th>
            <th>Limite SW</th>
            <th>Ultima fecha</th>
            <th>Ultimo usuario</th>
          </tr>
        </thead>
        <tbody class="table-main-letter">
          <tr *ngFor="let item of data">
            <td>{{ item.nroCta }}</td>
            <td>{{ item.vencimiento }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.limite }}</td>
            <td>{{ item.limiteSW }}</td>
            <td>{{ item.fechaUltAct }}</td>
            <td>{{ item.usuarioUltAct }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</layout-modal>
