<div class="container-fluid d-flex flex-row pt-4">
  <img [src]="image" alt="HSBC" width="400" class="dashboard-image" />
  <p class="text-main px-4">
    BCS (Behavioural Credit System) Es un sistema desarollado in-house,
    destinado a la automatización de la toma de una amplia gama de decisiones
    crediticias que van desde la renovación de líneas de crédito y
    pre-aprobaciones hasta las acciones de cobranzas. El sistema permite, a
    través de StrategyWare, administrar los diferentes parámetros crediticios,
    los árboles de segmentación y la puntuación de crédito efectiva y
    rápidamente. El sistema se nutre de variadas fuentes de información tanto
    internas como externas que son utilizadas en el proceso de decisorio para
    llegar a la mejor recomendación posible para cada cliente.
  </p>
</div>
